/rect_amp1.bmp
/rect_amp2.bmp
/rect_amp3.bmp
/rect_amp4.bmp
/rect_amp5.bmp
/rect_amp6.bmp
/rect_circ1.bmp
/rect_circ2.bmp
/rect_circ3.bmp
/rect_circ4.bmp
/rect_circ5.bmp
/rect_circ6.bmp
/rect0.bmp
/rect1.bmp
/rect2.bmp
/rect3.bmp
/rect4.bmp
/rect5.bmp
/textImage1.bmp
/textImage2.bmp
/textImage3.bmp
/textImage4.bmp
/textImage5.bmp
/textImage6.bmp
